*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial;
}
header{
    background-image: url('imgs/bgbg.jpg');
    padding: 280px 0 310px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
h1{
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 62px;
    font-weight: normal;
    letter-spacing: 4px;
}
h1 span{
    font-size: 34px;
    letter-spacing: 5.4;
}
.btn{
    width: 260px;
    height: 60px;
    background: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5px;
}
.h2-1{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 27px;
    letter-spacing: 4px;
    margin-top: 95px;
    margin-bottom: 35px;
}
.blocks{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 248px;
    text-align: center;
}
.card .image{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2.4px;
    margin: 33px 0 22px;
}
.card p{
    line-height: 24px;
    font-size: 14px;
}
.h2-2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 4px;
    margin-top: 94px;
}
.description .img{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.description h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2.4px;
    margin-top: 97px;
}
.description p{
    margin: 0 auto;
    width: 700px;
    text-align: center;
    line-height: 27px;
    font-size: 15px;
}
.button{
    margin-top: 45px;
    background-size: cover;
    text-align: center;
}
.btn-end{
    width: 260px;
    height: 60px;
    background: #1d36cc;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
    color: #fff;
}
footer{
    height: 265px;
    background: #1d36cc;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #fff;
    font-size: 12px;
}